body {
    display: grid;
    grid-template:
        "HE HE HE HE HE HE" 80px
        "AS AS LI AR AR AR" 80px
        "AS AS LI AR AR AR" 80px
        "AS AS PY PY IMG IMG" 80px
        "AS AS AR1 AR1 IMG IMG" 80px
        "AS AS AR1 AR1 IMG IMG" 80px
        "AS AS AR1 AR1 LI1 LI2" 80px
        "AS AS FO FO FO FO" 80px;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px;
    padding: 10px;
    
    font: 600 2rem Poppins;
}

.header, .article, .footer p {
    color: #fff;
}

.header {

    grid-area: HE;
    background-color: blue;
}

.aside {
    grid-area: AS;
    background-color: yellow;
}

.link {
    grid-area: LI;
    background-color: turquoise;
}

.article {
    grid-area: AR;
    background-color: skyblue;
}

.player {
    grid-area: PY;
    background-color: royalblue;
}

.image {
    grid-area: IMG;
    background-color: tomato;
}

.article1 {
    grid-area: AR1;
    background-color: palegreen;
}

.link1 {
    grid-area: LI1;
    background-color: palevioletred;
}

.link2 {
    grid-area: LI2;
    background-color: palevioletred;
}

.footer {
    grid-area: FO;
    background-color: grey;
}
